@media only screen and (max-width: 425px) {
.topNewsWrapper{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;

    img{
        width: 158px;
        height: 222px;
        object-fit: cover;
        border-top: 3px red solid;
        border-left: 3px red solid;
        border-radius: 26px;
        padding: 0px 6px 3px 0px;
    }
    .topNews{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;

    }
}
.mobileImage{
    display: none;
    visibility: hidden;
}
    a{
    text-decoration: none;
    color: black;
}
}

@media only screen and (min-width: 425px) {
    .topNewsWrapperDesktop{
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        justify-content: flex-start;
        margin: 0 0 5% 0;
        -webkit-box-shadow: 10px 10px 19px -1px rgba(0,0,0,0.52);
        -moz-box-shadow: 10px 10px 19px -1px rgba(0,0,0,0.52);
        box-shadow: 10px 10px 19px -1px rgba(0,0,0,0.52);
        border-radius: 17px;
   
    
        img{
            // width: 158px;
            height: auto;
            object-fit: cover;
            border-top: 3px red solid;
            border-left: 3px red solid;
            border-radius: 26px;
            padding: 0px 6px 0px 0px;
            margin-right: 12px;
min-width: 350px;
max-height: 450px;
box-shadow: 10px 10px 19px -1px rgba(0,0,0,0.52);
        }
        .topNews{
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: center;
            margin-left: 12px;
            padding: 1px 7px;
            min-width: 150px;
            max-width: 750px;
            h2{
                align-self: flex-start;
            }
            .breakingNews{
                align-self: start;
                border:none;
                border-radius: none;
                box-shadow: none;
                width: 10px;
                height: 47px;
                object-fit: contain;
                // display: inline;
                margin: 0;
                padding: 5px 0 0 0 ;
            }
            h3{
                align-self: start;
            }
            p{
                align-self: start;
            }
    
        }
    }
    .newsListDesktop{
        display: flex;
        flex-flow: row wrap;
        gap: 10%;
        align-items: center;
        justify-content: center;
        
    .NewsWrapperDesktop{
        display: flex;
        flex-flow: column wrap;
        -webkit-box-shadow: 10px 10px 19px -1px rgba(0,0,0,0.52);
-moz-box-shadow: 10px 10px 19px -1px rgba(0,0,0,0.52);
box-shadow: 10px 10px 19px -1px rgba(0,0,0,0.52);
margin: 5px 7px 12px 7px;
border-radius: 7px;
width: 25%;
overflow: hidden;
border-top-left-radius: 15px ;
border-top-right-radius: 25px ;
a{
    text-decoration: none;
    color: black;
}
        img{
            width: 100%;
            height: 100px;
            object-fit: cover;
            border-top-left-radius: 5px ;
            border-top-right-radius: 25px ;
            overflow: none;
        }
        h4{
            width: 75%;
            text-align: center;
            margin: 0;
            overflow-x: auto;
        }
        p{
            width: 95%;
            text-align:start ;
            margin: 0 0 5px 0;
            font-size: 12px;
        }
    }
    .NewsWrapperDesktop:hover{
        transform: scale(110%);
}
}
hr{
    padding: 10px;
    margin: 10px 0 20px 0;
}
}
